<div id="modal">
    <div id="modal_container">
        <div id="modal_overlay">
            <div class="dn" id="modal_close" onclick="common.modal_hide();"></div>
            <div id="modal_content"></div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="main_menu">
        <div>
            <a href="#">News</a>
            <a href="#">Delivery</a>
            <a href="#">Services</a>
            <a href="#">Payments</a>
            <a href="plots"{if $global.path == 'plots'} class="active"{/if}>Plots</a>
            <a href="users"{if $global.path == 'users'} class="active"{/if}>Users</a>
            <a href="#">Users</a>
            <a href="#">Messages</a>
        </div>
        <div>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div>
        {include file="$section"}
    </div>
</div>